Package: org.xbmc.kodi-ios
Name: Kodi-iOS
Depends: firmware (>= 5.1)
Priority: Extra
Version: 17.4-0
Architecture: iphoneos-arm
Installed-Size: 138888
Description: Kodi Entertainment Center for iOS
Homepage: http://kodi.tv/
Maintainer: Memphiz
Author: Team-Kodi
Section: Multimedia
Icon: file:///Applications/Kodi.app/AppIcon57x57.png
